<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add  name="Student_DB" 
          connectionString="Data Source=DESKTOP-QBTI1IA\SQLEXPRESS;Database=Student_DB;Trusted_Connection=True;"
          providerName="System.Data.SqlClient" />
    <add  name="Demo" 
          connectionString="Data Source=DESKTOP-QBTI1IA\SQLEXPRESS;Database=Demo;Trusted_Connection=True;"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>